
<div class="container-fluid bg-1 vh-100 d-flex justify-content-center align-items-center">
    <div class="col-md-3 bg-white p-5 rounded shadow-lg">
        <div>
            <img class="img-fluid" src="assets/images/login.png" alt="logo">
        </div>
        <form class="mt-2">
            <div class="form-group">
              <small class="text-muted">Usuario</small>
              <input type="email" class="form-control">
              
            </div>
            <div class="form-group">
              <small class="text-muted">Contraseña</small>
              <input type="password" class="form-control">
            </div>
            <small id="emailHelp" class="form-text text-danger mb-3">Usuario o contraseña incorrecta</small>
            <button type="submit" class="btn btn-1 bg-1 btn-block">INGRESAR</button>
        </form>
    </div>
</div>