<li class="dropdown dropdown-list-toggle">
    <a 
        [ngClass]="{'beep': notifications.length > 0}"
        href="#" 
        data-toggle="dropdown" 
        class="nav-link notification-toggle nav-link-lg">
        <i class="far fa-bell"></i>
    </a>
    <div class="dropdown-menu dropdown-list dropdown-menu-right ">
      <div class="dropdown-header">
          Notifications
      </div>
      <div class="dropdown-list-content dropdown-list-icons">
        <ng-container *ngIf="notifications.length > 0; else noNotifications">
            <ng-container *ngFor="let notification of notifications">
                <a [routerLink]="['/productor/solicitud', notification.id]" routerLinkActive="router-link-active"  class="dropdown-item dropdown-item-unread">
                    <div class="dropdown-item-icon text-white" [style]="{'background': notification.estado | color}" >
                    <i class="far fa-credit-card"></i>
                    </div>
                    <div class="dropdown-item-desc">
                        Solicitud #{{ notification.solicitud_id }} - {{ notification.estado | uppercase }}
                    <div class="time text-primary">
                        {{ notification.created_at | dateAgo }}
                    </div>
                    </div>
                </a>
            </ng-container>
        </ng-container>
        <ng-template #noNotifications>
            <div class="text-center">
                No hay notificaciones
            </div>
        </ng-template>
      </div>
      <div class="dropdown-footer text-center">
        <a href="#">&nbsp;</a>
      </div>
    </div>
  
  </li>