$blockPadding : 10px;

%gridConfig {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }

.planner-calendar
{
    background-color: aliceblue;
    width: 100%;
    height: 100%;

    @debug &__header;

    &__header{
        //background-color: #e4e4e4;
        padding: $blockPadding;
        display: flex;
        justify-content: space-between;        
        
        &__selector{

            &__container{
                display: flex;
                justify-content: space-between;
                width: 60px;
                gap: 2px;

                %btn-selector {
                    width: 30px;
                    padding: 5px;
                    text-align: center;
                    cursor: pointer;
                    border: 1px dotted grey;
                    transition: all 0.2s;
                }

                &__left{
                    @extend %btn-selector;
                    border-radius: 5px 0 0 5px;
                }
                &__right{
                    @extend %btn-selector;
                    border-radius: 0 5px 5px 0;
                }

                &__left:hover, &__right:hover{
                    background-color: rgb(170, 170, 170);
                    color:white;
                    border: 0px;
                }

            }
        }
    }


    &__body{
        //background-color: rebeccapurple;

        &__head{
            //background-color: #cbcbcb;
            border-top: 1px dotted rgb(155, 155, 155);
            border-bottom: 1px dotted rgb(155, 155, 155);
            padding: $blockPadding;
            text-align: center;
            @extend %gridConfig;

        }

        &__rows{
            max-height: 50vh;
            height: 50vh;
            overflow-y: scroll;

            &__item{
                position: relative;
                @extend %gridConfig;

                div:nth-child(-n+5){
                    border-right: 1px dotted rgb(155, 155, 155);
                }

                div{
                    border-bottom: 1px dotted rgb(155, 155, 155);
                    padding: $blockPadding;
                    height: 100px;
                }


            }
        }

    }


}


.float{
    position: absolute;
    width: 100px;
    height: 10px;
    background-color: hotpink;
    margin-top: 20px;
}