<app-title-section 
    [title]="'Mostrar solicitudes'" 
    [description]="'Permite ver el listado de solicitudes creadas.'">
</app-title-section>


<div class="card">
    <div class="card-header d-flex justify-content-between">
        <h4>Solicitudes</h4>
    </div>
    <div class="card-body">
        <div class="row mt-4">
            <div class="col-12">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Servicio</th>
                            <th>Inicio</th>
                            <th>Fin</th>
                            <th>Rep.</th>
                            <th>Estado</th>
                            <th>Detalle</th>
                            <th></th>
                        </tr>
                    </thead>                
                    <tbody>
                        <tr *ngFor="let request of requests | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage, totalItems: totalItems }; let i = index">
                            <td>{{ request.id }}</td>
                            <td width="2%">{{ request.servicio }}</td>
                            <td>{{ request.fecha_inicio | date: 'dd/MM/yyyy HH:mm' }}</td>
                            <td>{{ request.fecha_fin | date: 'dd/MM/yyyy HH:mm' }}</td>
                            <td>{{ request.reprogramada | yesNo | titlecase  }}</td>
                            <td [style]="{'color': request.estado | color}" width="15%">{{ request.estado | uppercase  }}</td>
                            <td width="" class="p-2">
                                <p *ngIf="request.fecha_cancelacion">Fecha cancelacion: {{ request.fecha_cancelacion | date: 'dd/MM/yyyy HH:mm' }}<br></p>
                                <p *ngIf="request.motivo_cancelacion">Motivo cancelacion: {{ request.motivo_cancelacion }}<br></p> 
                                <p *ngIf="accepted(request)">Estado validación: {{ request.estado_validacion }}</p>
                            </td>
                            <td>
                                <button (click)="openModal(request.id)" class="btn btn-danger">Aceptar cancelación</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-12 d-flex justify-content-center">
                <pagination-controls 
                    (pageChange)="getPage(currentPage = $event)"
                    previousLabel="Anterior"
                    nextLabel="Siguiente"
                >
                </pagination-controls>
            </div>
        </div>
    </div>
</div>


<app-modal #modal
   [title]="'Cancelación'"
   (accept)="confirmCancel($event)"
>
    <p>Aceptar la cancelación de la solicitud</p>
</app-modal>

