
.custom-card{
    border-radius: 16px;
    background: #38353e;
    color:white;
}

.card-green{
    border-left: 4px solid #42ff42;
}

.card-red{
    border-left: 4px solid #ef3a11;
}

.card-orange{
    border-left: 4px solid #42ff42;
}

.card-blue{
    border-left: 4px solid #42ff42;
}

.card-grey{
    border-left: 4px solid #42ff42;
}

.calendar-month{
    display: flex;
    justify-content: center;
    align-items: center;
    border:1px solid blue;
    height: 30px;
    font-size: 15px;
    
}

.calendar-header, .calendar-body{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr); 
    position: relative;
}

.header-day{
    border:1px solid red;
    height: 20px;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.body-day{
    border:1px solid blue;
    height: 50px;
    font-size: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.aver{
    width: 100px;
    position: absolute;
    background-color: red;
}