$color-1: #ff793f;
$color-2: #40407a;
$color-3: #34ace0;
$color-4: #f7f1e3;

$color-darken-1: #cd6133;
$color-darken-2: #2c2c54;
$color-darken-3: #227093;
$color-darken-4: #aaa69d;

$colorList: ($color-1, $color-2, $color-3, $color-4);
$colorDarkenList: ($color-darken-1, $color-darken-2, $color-darken-3, $color-darken-4);

@for $i from 1 through 4 {
    @debug nth($colorList, $i);
    .color-#{$i}{
        color: nth($colorList, $i);
    }

    .color-darken-#{$i}{
        color: nth($colorDarkenList, $i);
    }

    .bg-#{$i}{
        background-color: nth($colorList, $i);
    }

    .bg-darken-#{$i}{
        background-color: nth($colorDarkenList, $i);

    }

}