
/* Tamaño del scroll */
.scroll-bar::-webkit-scrollbar {
    width: 8px;
  }
  
   /* Estilos barra (thumb) de scroll */
  .scroll-bar::-webkit-scrollbar-thumb {
    background: #7887f8;
    border-radius: 4px;
  }
  
  .scroll-bar::-webkit-scrollbar-thumb:active {
    background-color: #999999;
  }
  

  