<app-title-section 
    [title]="'Mostrar solicitudes'" 
    [description]="'Permite ver el listado de solicitudes creadas.'">
</app-title-section>

<div class="card">
    <div class="card-header d-flex justify-content-between">
        <h4>Solicitudes</h4>
    </div>
    <div class="card-body">
        <form [formGroup]="form" class="row">
            <div class="col-md-6">
                <input formControlName="search" name="search" type="text" class="form-control" placeholder="Buscar">
            </div>
            <div class="col-md-6">
                <select formControlName="packingId" class="form-control">
                    <option
                        *ngFor="let packing of packings | async"   
                        [value]="packing.id"
                    >{{ packing.empaque }}</option>
                </select>
            </div>
        </form>
        <div class="row mt-4">
            <div class="col-12">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Servicio</th>
                            <th>Inicio</th>
                            <th>Fin</th>
                            <th>Rep.</th>
                            <th>Estado</th>
                            <th>Detalle</th>
                            <th></th>
                        </tr>
                    </thead>                
                    <tbody>
                        <tr *ngFor="let request of requests | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage, totalItems: totalItems }; let i = index">
                            <td>{{ request.id }}</td>
                            <td width="2%">{{ request.servicio }}</td>
                            <td>{{ request.fecha_inicio | date: 'dd/MM/yyyy HH:mm' }}</td>
                            <td>{{ request.fecha_fin | date: 'dd/MM/yyyy HH:mm' }}</td>
                            <td>{{ request.reprogramada | yesNo | titlecase  }}</td>
                            <td [style]="{'color': request.estado | color}" width="15%">{{ request.estado | uppercase  }}</td>
                            <td width="" class="p-2">
                                <p *ngIf="request.fecha_cancelacion">Fecha cancelacion: {{ request.fecha_cancelacion | date: 'dd/MM/yyyy HH:mm' }}<br></p>
                                <p *ngIf="request.motivo_cancelacion">Motivo cancelacion: {{ request.motivo_cancelacion }}<br></p> 
                                <p *ngIf="request.estado_validacion">Estado: {{ request.estado_validacion }}</p>
                            </td>
                            <td>
                                <ng-container *ngIf="request.estado === 'a programar'">
                                    <div *ngIf="request.fecha_inicio | available" class="w-100 d-flex justify-content-center">
                                        <i 
                                            *ngIf="!(request.fecha_inicio | outOfTerm)" 
                                            (click)="onModalReprogramming(request, i)" 
                                            title="REPROGRAMAR SOLICITUD" 
                                            class="far fa-calendar-times mr-4 c-pointer">
                                        </i>
                                        <i 
                                            (click)="onModalCancel(request, i)" 
                                            title="CANCELAR SOLICITUD" 
                                            class="far fa-trash-alt c-pointer">
                                        </i>
                                    </div>
                                </ng-container>

                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-12 d-flex justify-content-center">
                <pagination-controls 
                    (pageChange)="getPage(currentPage = $event)"
                    previousLabel="Anterior"
                    nextLabel="Siguiente"
                >
                </pagination-controls>
            </div>
        </div>
    </div>
</div>

<app-modal
    [title]="'Reprogramar Solicitud'"
    [btnRightDisable]="formReprogramming.invalid"
    [footerHidden]="false"
    (accept)="onReprogrammingRequest($event)"
    #reprogrammingModal
>
    <form [formGroup]="formReprogramming">
        <div class="form-group">
            <label>Solicitud</label>
            <input type="text" class="form-control" disabled [value]="request?.id">
        </div>

        <div class="form-group">
            <label>Servicio</label>
            <input type="text" class="form-control" disabled [value]="request?.servicio">
        </div>

        <div class="form-group">
            <label>Fecha inicio</label>
            <input 
                (change)="setDate($event, 'fecha_inicio')"
                formControlName="fecha_inicio" 
                name="fecha_inicio" 
                type="datetime-local" 
                class="form-control"

            >
            <b class="text-danger" *ngIf="isInvalid('fecha_inicio', 'isMinor')">
                * La mínima fecha de inicio disponible es {{ minHour | date:'dd/MM/yyyy HH:00' }}
            </b>
        </div>

        <div class="form-group">
            <label>Fecha fin</label>
            <input 
                (change)="setDate($event, 'fecha_fin')"
                formControlName="fecha_fin" 
                name="fecha_fin" 
                type="datetime-local" 
                class="form-control"
            >
            <b class="text-danger" *ngIf="isInvalid('fecha_fin', 'invalidDates')">
                * La fecha de fin debe ser entre 
                {{ serviceConfig.MINIMUN_RANGE }} y {{ serviceConfig.MAXIMUN_RANGE }} 
                horas despues de la fecha de inicio
            </b>
        </div>
    </form>
</app-modal>

<app-modal 
    *ngIf="request"
    [title]="(request.fecha_inicio | outOfTerm) ? 'Cancelar fuera de termino' : 'Cancelar en termino'"
    [show]="modalInTerm"
    (accept)="onCancelRequest($event)"
    #cancelModal
>
    <ng-container>

        <div class="d-flex justify-content-between">
            <b>Solicitud</b>
            <b>ID {{ request.id }}</b>
        </div>
        <div class="d-flex justify-content-between">
            <b>Inicio</b>
            <b>{{ request.fecha_inicio | date: 'dd/MM/yyyy HH:mm' }}</b>
        </div>


        <ng-container *ngIf="request.fecha_inicio | outOfTerm">
            <form [formGroup]="formCancel">
                <div class="form-check mt-2">
                    <input  
                        formControlName="text"
                        value="Fuerza mayor"
                        class="form-check-input c-pointer" 
                        type="radio" 
                        name="text" 
                        id="flexRadioDefault1"
                        [checked]="true"
                    >
                    <label class="form-check-label c-pointer" for="flexRadioDefault1">
                        Por razones de fuerza mayor
                    </label>
                </div>
                <div class="form-check">
                    <input 
                        formControlName="text"
                        value="Otras razones"
                        class="form-check-input c-pointer" 
                        type="radio" 
                        name="text" 
                        id="flexRadioDefault2" 
                    >
                    <label class="form-check-label c-pointer" for="flexRadioDefault2">
                        Otras razones
                    </label>
                </div>
            </form>

        </ng-container>
        
    </ng-container>
</app-modal>