@import "../node_modules/angular-calendar/css/angular-calendar.css";
@import './styles/utils';
@import './styles/scroll';
@import './styles/font-sizes';
@import './styles/position';

html, body {
    height:100%;
}

.navbar-bg {
    height: 70px;
}

body.layout-3 .main-content {
    padding-top: 100px;
}

.beep:after {
    background-color: #d71212;
}

